<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>Nombre del corredor</label>
        <input
          class="form-control"
          placeholder="Nombre"
          type="text"
          value="{{ data?.brookerName }}"
          formControlName="brookerName"
        />
        <div
          *ngIf="
            form.get('brookerName').invalid &&
            (form.get('brookerName').dirty || form.get('brookerName').touched)
          "
        >
          Por favor capturar el nombre del corredor
        </div>
      </div>
    </div>
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>Porcentaje</label>
        <!-- <input
          class="form-control"
          placeholder="Porcentaje"
          type="number"
          value="{{ data?.percent }}"
          mask="separator.2"
          thousandSeparator=""
          separatorLimit="99999999999999"
          formControlName="percent"
        /> -->
        <p-inputMask
          formControlName="percent"
          mask="9.9"
          placeholder="e.g. 75.00"
        ></p-inputMask>
        <div
          *ngIf="
            form.get('percent').invalid &&
            (form.get('percent').dirty || form.get('percent').touched)
          "
        >
          Por favor capturar el porcentaje del corredor
        </div>
      </div>
    </div>
  </div>
</form>
