<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6 pr-md-1" *ngFor="let c of form.controls | keyvalue">
      <div class="form-group">
        <label class="form-label">{{ label }}</label>
        <input
          class="form-control"
          [placeholder]="label"
          [formControlName]="c.key"
          [ngClass]="{ 'is-invalid': showError(c.key) }"
          type="text"
        />

        <div class="invalid-feedback d-block" *ngIf="showError(c.key)">
          <div *ngIf="fc(c.key)?.errors?.required">
            Este campo es requerido.
          </div>
          <div *ngIf="fc(c.key)?.errors?.minlength">
            Mínimo
            {{ fc(c.key)?.errors?.minlength.requiredLength }} caracteres.
          </div>
          <div *ngIf="fc(c.key)?.errors?.maxlength">
            Máximo
            {{ fc(c.key)?.errors?.maxlength.requiredLength }} caracteres.
          </div>
          <div *ngIf="fc(c.key)?.errors?.min">
            Valor mínimo {{ fc(c.key)?.errors?.min.min }}.
          </div>
          <div *ngIf="fc(c.key)?.errors?.max">
            Valor máximo {{ fc(c.key)?.errors?.max.max }}.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
