.form-control:focus {
  border-color: #1d253b;
  background-color: transparent;
  box-shadow: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.249999625rem + 2px);
  // padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.428571;
  color: #1d253b;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control:focus {
  border-color: #1d253b;
  background-color: transparent;
  box-shadow: none;
}

app-municipality .form-control:focus {
  border-color: #1d253b;
  background-color: whitesmoke;
  color: black;
  box-shadow: none;
}

// .form-group .form-control,
// .input-group .form-control {
//   padding: 0px!important;
// }

// .p-dropdown.form-control{ padding: 5px !important; }
