<p-contextMenu #contextMenuDT [model]="items"></p-contextMenu>
<p-toast appendTo="body"></p-toast>
<p-toolbar styleClass="p-1">
  <ng-template class="row p-1" pTemplate="left">
    <div class="col p-1">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openDialog()"
      ></button>
    </div>
    <div class="col p-1">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportToExcel()"
        class="p-button-success p-mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
    </div>
    <div class="col p-1">
      <button
        pButton
        pRipple
        [label]="Actualizar"
        icon="pi pi-refresh"
        class="p-button-info p-mr-2"
        (click)="getBrokerBet()"
      ></button>
    </div>
  </ng-template>
</p-toolbar>
<br />
<div class="row">
  <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
    <p-tabPanel *ngFor="let tab of groupedData | keyvalue" [header]="tab.key">
      <div class="card">
        <div class="row">
          <div class="col-7 flex align-items-center justify-content-center">
            <form [formGroup]="formEdit">
              <p-table
                #dt
                [value]="tab.value.data"
                dataKey="_id"
                editMode="row"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [globalFilterFields]="['folio']"
                appendTo="'body'"
              >
                <ng-template pTemplate="caption">
                  <div class="p-d-flex p-ai-center p-jc-between">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label>Filtro de busqueda</label>
                        <input
                          pInputText
                          class="form-control"
                          type="text"
                          (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                          "
                        />
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Folio</th>
                    <th>Cantidad</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-data
                  let-editing="editing"
                  let-ri="rowIndex"
                >
                  <tr [pEditableRow]="data">
                    <td pEditableColumn style="width: 8rem">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-inputNumber
                            inputId="folio-{{ data._id }}"
                            [(ngModel)]="data.folio"
                            [value]="data.folio"
                            formControlName="folio"
                            mode="decimal"
                            (onBlur)="edit(data, tab.key)"
                          >
                          </p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ data.folio }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-inputNumber
                            inputId="folio-{{ data._id }}"
                            [(ngModel)]="data.amount"
                            [value]="data.amount"
                            formControlName="amount"
                            mode="currency"
                            currency="MXN"
                            locale="es-MX"
                            (onBlur)="edit(data, tab.key)"
                          >
                          </p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{
                            data.amount
                              | currency : "MXN" : "symbol" : "1.2-2" : "es-MX"
                          }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </form>
          </div>
          <div class="col-1">
            <p-divider layout="vertical">
              <b>Totales</b>
            </p-divider>
          </div>
          <div class="col-3 flex align-items-center justify-content-center">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Concepto</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total corretaje</td>
                  <td>
                    {{
                      tab.value.total
                        | currency : "MXN" : "symbol" : "1.2-2" : "es-MX"
                    }}
                  </td>
                </tr>
                <tr>
                  <td>% Corretaje a entregar:</td>
                  <td>
                    {{
                      tab.value.total * 0.1 * 0.6
                        | currency : "MXN" : "symbol" : "1.2-2" : "es-MX"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
