<p-contextMenu #contextMenuDT [model]="items"></p-contextMenu>

<p-toolbar styleClass="p-1">
  <ng-template class="row p-1" pTemplate="left">
    <div class="col p-1">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openDialog()"
      ></button>
    </div>
    <div class="col p-1">
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelected()"
        [disabled]="!selectedData || !selectedData.length"
      ></button>
    </div>
  </ng-template>
</p-toolbar>
<br />
<div class="row">
  <div *ngFor="let item of groupedData | keyvalue" class="col">
    Corredor: {{ item.key }}
    <div class="row">
      <div class="col">Total corretaje: ${{ item.value.total }}</div>
      <div class="col">
        % corretaje a entregar: ${{ item.value.total * 0.1 * 0.6 }}
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Folio</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _item of item.value.data">
          <td>{{ _item.folio }}</td>
          <td>{{ _item.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
