<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-body table">
          <app-simple-datatable
            [loading]="loading"
            [title]="'Lista de Usuarios'"
            [data]="users"
            [columns]="columns"
            [selectedData]="selectedUsers"
            (dialogChange)="openNew($event)"
            (deleteRecords)="deleteSelected($event)"
          ></app-simple-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog-form
  [openDialog]="userDialog"
  [size]="{ width: '50vw' }"
  [headerDetails]="'Crear Usuario'"
  (closeDialog)="openNew($event)"
  [model]="myModel"
>
</app-dialog-form>

<ng-template #userTemplate>
  <div class="row">
    <div class="col-12" *ngIf="userDialog">
      <app-user-edit [data]="null" [form]="userForm"></app-user-edit>
    </div>
  </div>
</ng-template>
