app-user .table th,
.table td {
  padding: 1rem;
  vertical-align: top;
  border-top: none !important;
}

app-user .table thead th {
  vertical-align: bottom;
  border-bottom: 0.125rem solid #525f7f !important;
}

/* app-user .form-control:focus {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
} */

/* app-user .input-group:focus-within {
  outline: .5px solid #e14eca;
  border-radius: .25rem;
} */

app-user .th-custom{
  border-bottom: none;
  color: #cac3da;
}

app-user .p-datatable .p-datatable-header {
  background: transparent !important;
  color: #495057;
  border: 1px solid transparent;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

app-user .p-datatable {
  background: transparent !important;
}

app-user .p-datatable .p-datatable-thead>tr>th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #f8f9fa;
  background: #1e1e26;
  transition: box-shadow 0.2s;
}

app-user .p-paginator {
  background: #27293d;
  color: #dddddd;
  border: solid #1e1e2f;
  border-width: 0;
  padding: 0.5rem 1rem rem;
  border-radius: 3px;
}

app-user .p-datatable .p-datatable-tbody>tr>td {
  text-align: left;
  border: 1px solid #1e1e2f;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

app-user .p-datatable .p-datatable-tbody>tr {
  background: #27293d;
  color: #dddddd;
  transition: box-shadow 0.2s;
  outline-color: #1e1e2f;
}

app-user .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
  background: #e9ecef;
  color: #dddddd;
}

app-user .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
  background: #3d4062;
  color: #dddddd;
}

app-user .p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #dddddd;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}