<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>Derby</label>
        <select
          class="form-select"
          aria-label="Derbys"
          (change)="onChange($event, 'derby')"
          formControlName="derby"
          [(ngModel)]="selectedDerby"
        >
          <option selected>Seleccionar un derby</option>
          <option *ngFor="let option of derby" [value]="option._id">
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3 pr-md-1">
      <div class="form-group">
        <label>Nombre del corredor</label>
        <select
          class="form-select"
          aria-label="Corredores"
          (change)="onChange($event, 'brooker')"
          formControlName="brooker"
          [(ngModel)]="selectedBrooker"
        >
          <option selected>Seleccionar un derby</option>
          <option *ngFor="let option of brookers" [value]="option._id">
            {{ option.brookerName }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Folio</label>
        <input
          class="form-control"
          placeholder="Folio"
          type="number"
          value="{{ data?.folio }}"
          formControlName="folio"
        />
        <div
          *ngIf="
            form.get('folio').invalid &&
            (form.get('folio').dirty || form.get('folio').touched)
          "
        >
          Por favor capturar el Folio
        </div>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Cantidad</label>
        <input
          class="form-control"
          placeholder="Cantidad"
          type="number"
          value="{{ data?.amount }}"
          formControlName="amount"
        />
        <div
          *ngIf="
            form.get('amount').invalid &&
            (form.get('amount').dirty || form.get('amount').touched)
          "
        >
          Por favor capturar la cantidad.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label
          >Activar para registrar un folio nuevo sin cerrar la pantalla:</label
        >
        <br />
        <p-inputSwitch formControlName="active"></p-inputSwitch>
      </div>
    </div>
  </div>
</form>
