<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>Derby</label>
        <p-dropdown
          styleClass="form-control"
          [options]="derby"
          [(ngModel)]="selectedDerby"
          optionLabel="name"
          [appendTo]="'body'"
          editable="false"
          formControlName="derby"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-3 pr-md-1">
      <div class="form-group">
        <label>Nombre del corredor</label>
        <p-dropdown
          styleClass="form-control"
          [options]="brookers"
          [(ngModel)]="selectedBrooker"
          optionLabel="brookerName"
          [appendTo]="'body'"
          editable="false"
          formControlName="brooker"
        >
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Folio</label>
        <input
          class="form-control"
          placeholder="Folio"
          type="number"
          value="{{ data?.folio }}"
          formControlName="folio"
        />
        <div
          *ngIf="
            form.get('folio').invalid &&
            (form.get('folio').dirty || form.get('folio').touched)
          "
        >
          Por favor capturar el Folio
        </div>
      </div>
    </div>
    <div class="col-md-2 pr-md-1">
      <div class="form-group">
        <label>Cantidad</label>
        <input
          class="form-control"
          placeholder="Cantidad"
          type="number"
          value="{{ data?.amount }}"
          formControlName="amount"
        />
        <div
          *ngIf="
            form.get('amount').invalid &&
            (form.get('amount').dirty || form.get('amount').touched)
          "
        >
          Por favor capturar la cantidad.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label
          >Activar para registrar un folio nuevo sin cerrar la pantalla:</label
        >
        <br />
        <p-inputSwitch formControlName="active"></p-inputSwitch>
      </div>
    </div>
  </div>
</form>
