<form [formGroup]="userForm" id="form">
  <div class="row">
    <div class="col-md-5 pr-md-1">
      <div class="form-group">
        <label> Compañia </label>
        <p-dropdown
          styleClass="form-control"
          [options]="companys"
          [(ngModel)]="selectedCompany"
          formControlName="company"
          optionLabel="Compañia"
        ></p-dropdown>
      </div>
    </div>
    <div class="col-md-4 pl-md-1">
      <div class="form-group">
        <label for="exampleInputEmail1">Correo electrónico</label>
        <input
          class="form-control"
          placeholder="mike@email.com"
          type="email"
          value="{{ data?.email }}"
          formControlName="email"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>Nombre</label>
        <input
          class="form-control"
          placeholder="Nombre"
          type="text"
          value="{{ data?.firstName }}"
          formControlName="firstName"
        />
      </div>
    </div>
    <div class="col-md-6 pl-md-1">
      <div class="form-group">
        <label>Apellidos</label>
        <input
          class="form-control"
          placeholder="Apellidos"
          type="text"
          value="{{ data?.lastName }}"
          formControlName="lastName"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Domicilio</label>
        <input
          class="form-control"
          placeholder="Domicilio"
          type="text"
          formControlName="addressStreet"
        />
      </div>
    </div>
    <div class="col-md-4 pl-md-1">
      <div class="form-group">
        <label>Codigo Postal</label>
        <input
          class="form-control"
          placeholder="Codigo Postal"
          type="number"
          formControlName="postalCode"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pr-md-1">
      <div class="form-group">
        <label>Pais</label>
        <p-dropdown
          styleClass="form-control"
          [options]="countrys"
          [(ngModel)]="selectedCountry"
          optionLabel="País"
          [appendTo]="'body'"
          (onBlur)="onChange($event)"
          editable="true"
          formControlName="country"
        >
          <!-- <ng-template pTemplate="filter" let-options="options">
            <div class="flex p-3">
              <div class="p-inputgroup" (click)="$event.stopPropagation()">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-search"></i
                ></span>
                <input
                  type="text"
                  pInputText
                  placeholder="Filter"
                  [(ngModel)]="filterValue"
                  (keyup)="options.filter($event)"
                />
              </div>
              <button
                pButton
                icon="pi pi-times"
                class="ml-3"
                (click)="myResetFunction(options)"
              ></button>
            </div>
          </ng-template> -->
          <ng-template pTemplate="selectedItem">
            <div
              class="country-item country-item-value"
              *ngIf="selectedCountry"
            >
              <div>{{ selectedCountry.description }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <!-- <img
                src="assets/showcase/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
              /> -->
              <div>{{ country.description }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-4 px-md-1">
      <div class="form-group">
        <label>Estado</label>
        <p-dropdown
          styleClass="form-control"
          [options]="states"
          [(ngModel)]="selectedState"
          optionLabel="Estado"
          formControlName="state"
        ></p-dropdown>
      </div>
    </div>
    <div class="col-md-4 pl-md-1">
      <div class="form-group">
        <label>Estado</label>
        <p-dropdown
          styleClass="form-control"
          [options]="municipalitys"
          [(ngModel)]="selectedMunicipality"
          optionLabel="Municipio"
          formControlName="municipality"
        ></p-dropdown>
      </div>
    </div>
  </div>
</form>
