<p-toolbar styleClass="p-1">
  <ng-template class="row p-1" pTemplate="left">
    <div class="col p-1">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openDialog()"
      ></button>
    </div>
    <div class="col p-1">
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="right">
    <p-fileUpload
      mode="basic"
      accept="image/*"
      [maxFileSize]="1000000"
      label="Import"
      chooseLabel="Import"
      class="p-mr-2 p-d-inline-block"
    ></p-fileUpload>
    <button
      pButton
      pRipple
      label="Export"
      icon="pi pi-upload"
      class="p-button-help"
    ></button>
  </ng-template>
</p-toolbar>
<p-table
  #dt
  [value]="data"
  [(selection)]="selectedData"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [scrollable]="false"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [loading]="loading"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
  [filterDelay]="0"
  [paginatorDropdownAppendTo]="'body'"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="card-header table-header row">
      <div class="col m-auto">
        <h3>{{ title }}</h3>
      </div>
      <div class="col-6">&nbsp;</div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="pi pi-search"></i></span>
          </div>
          <input
            pInputText
            class="form-control"
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Global Search"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="th-custom" style="width: 3rem"></th>
      <th *ngFor="let col of columns">
        <span class="p-column-title">{{ col.header }}</span>
      </th>
      <th class="th-custom" style="width: 8rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="data"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        {{ data[col.field] }}
      </td>
      <td style="text-align: center">
        <button
          pButton
          type="button"
          class="p-button-secondary"
          icon="pi pi-cog"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron usuarios.</td>
    </tr>
  </ng-template>
</p-table>
