<p-contextMenu #contextMenuDT [model]="items"></p-contextMenu>

<div class="row">
  <p-table
    #dt
    [value]="data"
    [(selection)]="selectedData"
    dataKey="_id"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [scrollable]="false"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [loading]="loading"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [filterDelay]="0"
    [paginatorDropdownAppendTo]="'body'"
    [globalFilterFields]="globalFilter"
  >
    <ng-template pTemplate="caption">
      <div class="card-header table-header row">
        <div class="users-page-header__content">
          <div>
            <h1 class="users-page-header__title">Administración de Usuarios</h1>

            <p class="users-page-header__subtitle">
              Gestiona los usuarios registrados en la plataforma.
            </p>
          </div>

          <div class="users-page-header__actions">
            <button
              type="button"
              (click)="openDialog()"
              class="btn users-page-header__primary-btn"
            >
              <i class="pi pi-plus"></i>
              <span>Nuevo Usuario</span>
            </button>

            <button
              *ngIf="export"
              type="button"
              class="btn users-page-header__secondary-btn"
            >
              <i class="pi pi-upload"></i>
              <span>Importar</span>
            </button>

            <button
              *ngIf="export"
              type="button"
              class="btn users-page-header__secondary-btn"
            >
              <i class="pi pi-download"></i>
              <span>Exportar</span>
            </button>
          </div>
        </div>

        <div class="users-page-header__search">
          <span class="p-input-icon-left users-page-header__search-box">
            <i class="pi pi-search"></i>

            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar por nombre o correo..."
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="th-custom" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns">
          <span class="p-column-title">{{ col.header }}</span>
        </th>
        <th class="th-custom" style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="data"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          {{ data[col.field] }}
        </td>

        <td ngbDropdown>
          <button
            type="button"
            class="btn btn-info btn-fab btn-icon btn-round"
            (click)="editSelected(data)"
          >
            <i class="pi pi-pencil"></i>
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-danger btn-fab btn-icon btn-round"
            (click)="delete(data)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">{{ emptyMessage }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
