<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Captura de catalogos</h5>
              <!-- <h2 class="card-title">Catalogos</h2> -->
              <button
                #btn
                class="card-title"
                type="button"
                pButton
                icon="pi pi-bars"
                label="Catalogos"
                (click)="menu3.toggle($event)"
              ></button>
              <p-slideMenu
                #menu3
                [model]="items"
                [popup]="true"
                [viewportHeight]="250"
                appendTo="body"
              ></p-slideMenu>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col-4">
              <!-- <p-tabMenu [model]="items"></p-tabMenu> -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <app-simple-datatable
                *ngIf="data"
                [loading]="false"
                [title]="title"
                [data]="data"
                [columns]="columns"
                [selectedData]="selectedAny"
              ></app-simple-datatable>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3 text-left">
              <p-panelMenu
                [model]="items"
                [style]="{ width: '300px' }"
              ></p-panelMenu>
            </div>
            <div class="col-sm-9">
              <app-simple-datatable
                *ngIf="data"
                [loading]="false"
                [title]="title"
                [data]="data"
                [columns]="columns"
                [selectedData]="selectedAny"
              ></app-simple-datatable>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
