<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row d-flex flex-row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Administración de catálogos</h5>
            </div>
          </div>
          <div class="row d-flex flex-row">
            <div class="col m-2">
              <h2 class="card-title">Catálogos</h2>
            </div>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="card">
              <span class="p-fluid">
                <p-autoComplete
                  placeholder="Buscar catálogo..."
                  [(ngModel)]="selectedItem"
                  [virtualScroll]="true"
                  [suggestions]="filteredItems"
                  [virtualScrollItemSize]="34"
                  (completeMethod)="filterItems($event)"
                  optionLabel="name"
                  [dropdown]="true"
                  appendTo="body"
                />
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngFor="let catalog of items">
              <p-card header="{{ catalog.name }}" [style]="{ width: '360px' }">
                <p class="text-sm text-gray-500">{{ catalog.description }}</p>
                <span class="badge badge-success">{{ catalog.records }}</span>
                <ng-template pTemplate="footer">
                  <button
                    type="button"
                    class="btn btn-warning col-12"
                    (click)="manageCatalog(catalog)"
                  >
                    Administrar
                  </button>
                </ng-template>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
