<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Pais</label>
        <select
          class="form-select"
          aria-label="Pais"
          formControlName="country"
          (change)="onChange()"
        >
          <option *ngFor="let option of countrys" [value]="option._id">
            {{ option.description }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado</label>
        <input
          class="form-control"
          placeholder="Nombre"
          type="text"
          value="{{ data?.description }}"
          formControlName="description"
        />
        <div
          *ngIf="
            form.get('description').invalid &&
            (form.get('description').dirty || form.get('description').touched)
          "
        >
          Por favor capturar el nombre del registro
        </div>
      </div>
    </div>
  </div>
</form>
