<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6 pr-md-1">
      <div class="form-group">
        <label>País</label>
        <input
          class="form-control"
          placeholder="Nombre"
          type="text"
          value="{{ data?.description }}"
          formControlName="description"
        />
        <div
          *ngIf="
            form.get('description').invalid &&
            (form.get('description').dirty || form.get('description').touched)
          "
        >
          Por favor capturar el nombre del registro
        </div>
      </div>
    </div>
  </div>
</form>
