<form [formGroup]="form" id="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Pais</label>
        <p-dropdown
          styleClass="form-control"
          [options]="countrys"
          [(ngModel)]="selectedCountry"
          optionLabel="description"
          [appendTo]="'body'"
          editable="false"
          formControlName="country"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado</label>
        <input
          class="form-control"
          placeholder="Nombre"
          type="text"
          value="{{ data?.description }}"
          formControlName="description"
        />
        <div
          *ngIf="
            form.get('description').invalid &&
            (form.get('description').dirty || form.get('description').touched)
          "
        >
          Por favor capturar el nombre del registro
        </div>
      </div>
    </div>
  </div>
</form>
