<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Catálogos / {{ catalog?.name }}</h5>
              <h2 class="card-title">{{ catalog?.name }}</h2>
            </div>
            <div class="col-sm-6">
              <div
                class="btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <button class="btn btn-warning btn-sm mr-1 w-4 h-4">
                  Nuevo
                </button>
                <button class="btn btn-outline-info btn-sm mr-1 w-4 h-4">
                  Importar
                </button>
                <button class="btn btn-outline-info btn-sm mr-1 w-4 h-4">
                  Exportar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>
