<div class="full-page login-page">
  <div class="content">
    <div class="row login_box">
      <div class="col-8 left">
        <div class="row col-12">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Registro</h3>
            <div class="row">
              <div class="col-6">
                <input
                  formControlName="firstName"
                  type="text"
                  placeholder="Nombre"
                />
                <div
                  *ngIf="
                    registerForm.get('firstName').invalid &&
                    (registerForm.get('firstName').dirty ||
                      registerForm.get('firstName').touched)
                  "
                >
                  Por favor proporcione un Nombre.
                </div>
              </div>
              <div class="col-6">
                <input
                  formControlName="lastName"
                  type="text"
                  placeholder="Apellidos"
                />
                <div
                  *ngIf="
                    registerForm.get('lastName').invalid &&
                    (registerForm.get('lastName').dirty ||
                      registerForm.get('lastName').touched)
                  "
                >
                  Por favor proporcione los Apellidos".
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    registerForm.get('email').invalid &&
                    (registerForm.get('email').dirty ||
                      registerForm.get('email').touched)
                  "
                >
                  Por favor proporcione un email.
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-6">
                <span class="p-float-label">
                  <p-password
                    formControlName="password"
                    [feedback]="true"
                    [toggleMask]="true"
                  ></p-password>
                  <label for="password">Contraseña</label>
                  <div
                    *ngIf="
                      registerForm.get('password').invalid &&
                      (registerForm.get('password').dirty ||
                        registerForm.get('password').touched)
                    "
                  >
                    Por favor proporcione una contraseña.
                  </div>
                </span>
              </div>
              <div class="col-6">
                <span class="p-float-label">
                  <p-password
                    formControlName="passwordConfirm"
                    [feedback]="false"
                  ></p-password>
                  <label for="password">Confirmar contraseña</label>
                  <div
                    *ngIf="
                      registerForm.get('password').touched &&
                      registerForm.hasError('mismatch')
                    "
                  >
                    Las contraseñas no coinciden
                  </div>
                </span>
              </div>
            </div>

            <button
              class="submit"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Registrar cuenta
            </button>
          </form>
        </div>
      </div>
      <div class="col-4 right"></div>
    </div>
  </div>
</div>
