<div class="full-page login-page">
  <div class="content">
    <div class="row login_box">
      <div class="col-8 left">
        <div class="row col-12">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Registro</h3>
            <div class="row">
              <div class="col-6">
                <input
                  formControlName="firstName"
                  type="text"
                  placeholder="Nombre"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.invalid &&
                      (registerForm.dirty || registerForm.touched),
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('firstName').invalid &&
                    (registerForm.get('firstName').dirty ||
                      registerForm.get('firstName').touched)
                  "
                >
                  <span
                    *ngIf="registerForm.get('firstName').errors?.['required']"
                    >Por favor proporcione un Nombre.</span
                  >
                </div>
              </div>
              <div class="col-6">
                <input
                  formControlName="lastName"
                  type="text"
                  placeholder="Apellidos"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.invalid &&
                      (registerForm.dirty || registerForm.touched),
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('lastName').invalid &&
                    (registerForm.get('lastName').dirty ||
                      registerForm.get('lastName').touched)
                  "
                >
                  <span
                    *ngIf="registerForm.get('lastName').errors?.['required']"
                    >Por favor proporcione los Apellidos.</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.invalid &&
                      (registerForm.dirty || registerForm.touched),
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('email').invalid &&
                    (registerForm.get('email').dirty ||
                      registerForm.get('email').touched)
                  "
                >
                  <span *ngIf="registerForm.get('email').errors?.['required']"
                    >Por favor proporcione un email.</span
                  >
                </div>
              </div>
            </div>

            <div class="row pt-4">
              <div class="col-6">
                <span class="p-float-label">
                  <p-password
                    formControlName="password"
                    [feedback]="true"
                    [toggleMask]="true"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.invalid &&
                        (registerForm.dirty || registerForm.touched),
                    }"
                  ></p-password>
                  <label for="password">Contraseña</label>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      registerForm.get('password').invalid &&
                      (registerForm.get('password').dirty ||
                        registerForm.get('password').touched)
                    "
                  >
                    <span
                      *ngIf="registerForm.get('password').errors?.['required']"
                      >Por favor proporcione una contraseña.</span
                    >
                  </div>
                </span>
              </div>
              <div class="col-6">
                <span class="p-float-label">
                  <p-password
                    formControlName="passwordConfirm"
                    [feedback]="false"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.invalid &&
                        (registerForm.dirty || registerForm.touched),
                    }"
                  ></p-password>
                  <label for="password">Confirmar contraseña</label>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      registerForm.get('passwordConfirm').invalid &&
                      (registerForm.get('passwordConfirm').dirty ||
                        registerForm.get('passwordConfirm').touched)
                    "
                  >
                    <span
                      *ngIf="
                        registerForm.get('passwordConfirm').errors?.['mismatch']
                      "
                      >Las contraseñas no coinciden</span
                    >
                  </div>
                </span>
              </div>
            </div>

            <button
              class="submit"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Registrar cuenta
            </button>
          </form>
        </div>
      </div>
      <div class="col-4 right"></div>
    </div>
  </div>
</div>
