<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">
                Generación de derby y captura de partidos
              </h5>
              <h2 class="card-title">Derby</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">
              <p-tabMenu [model]="itemsDerby"></p-tabMenu>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card">
            <p-splitter [style]="{ height: '300px' }" styleClass="p-mb-5">
              <ng-template pTemplate>
                <div class="p-col p-d-flex p-ai-center p-jc-center"></div>
              </ng-template>
              <ng-template pTemplate>
                <div class="p-col p-d-flex p-ai-center p-jc-center">
                  <div class="p-d-flex p-flex-column">
                    <div class="p-mb-2 p-ml-2"></div>
                  </div>
                </div>
              </ng-template>
            </p-splitter>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog-form
  [openDialog]="derbyDialog"
  [size]="{ width: '50vw' }"
  [headerDetails]="title"
  (closeDialog)="openNew($event)"
  [model]="derbyModel"
>
</app-dialog-form>

<ng-template #buttonsTemplate>
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-trash"
    class="p-button-danger"
    (click)="hideDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-success p-mr-2"
    type="submit"
    [disabled]="derbyForm.invalid"
    (click)="!isEditing ? saveUser() : editUser()"
  ></button>
</ng-template>

<ng-template #derbyTemplate>
  <div class="row">
    <div class="col-12" *ngIf="derbyDialog">
      <app-derby-edit [data]="derby" [form]="derbyForm"></app-derby-edit>
    </div>
  </div>
</ng-template>

<p-confirmDialog
  [style]="{ width: '450px' }"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
