<p-toast></p-toast>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">
                Generación de derby y captura de partidos
              </h5>
              <h2 class="card-title">Derby</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">
              <p-tabMenu [model]="itemsDerby"></p-tabMenu>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Derby's</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  (change)="onChange()"
                  [(ngModel)]="_id"
                >
                  <option selected>Seleccionar un derby</option>
                  <option *ngFor="let option of derbys" [value]="option._id">
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Entrada</label>
                <div class="form-group mt-2">
                  <span
                    *ngIf="selectedDerby"
                    class="badge text-bg-info"
                    style="font-size: initial"
                    >${{ selectedDerby?.entrance }}</span
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Fecha del Evento</label>
                <div class="form-group mt-2">
                  <span class="badge text-bg-info" style="font-size: initial">{{
                    selectedDerby?.dateEvent
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card">
            <div *ngIf="selectedDerby" class="row">
              <form [formGroup]="derbyConf" id="formDerbyConf"></form>
            </div>
            <p-tabView>
              <p-tabPanel header="Partidos">
                <div class="row">
                  <div class="col-sm">
                    <app-teams-datatable
                      *ngIf="teams"
                      [loading]="false"
                      [confDerby]="confDerby"
                      [title]="titleDT"
                      [emptyMessage]="emptyMessage"
                      [data]="data"
                      [teams]="teams"
                      [derby]="selectedDerby"
                      [columns]="columnsDT"
                      [selectedData]="selectedAny"
                      [items]="itemsDT"
                      (dialogChange)="openNewTeam($event)"
                      (dataChange)="addNewTeam($event)"
                      (deleteRecords)="deleteSelected($event)"
                      (editRecords)="editSelected($event)"
                      (modalCompadres)="openModalCompadres($event)"
                    ></app-teams-datatable>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Cotejo">
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Consectetur, adipisci velit, sed quia non numquam
                  eius modi.
                </p>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog-form
  [openDialog]="derbyDialog"
  [size]="{ width: '50vw' }"
  [headerDetails]="title"
  (closeDialog)="openNew($event)"
  [model]="derbyModel"
>
</app-dialog-form>

<app-dialog-compadres
  [openDialog]="derbyDialogCompadres"
  [size]="{ width: '50vw' }"
  [headerDetails]="title"
  (closeDialog)="openNewCompadres($event)"
  [model]="derbyModel"
>
</app-dialog-compadres>

<ng-template #buttonsTemplate>
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-trash"
    class="p-button-danger"
    (click)="hideDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-success p-mr-2"
    type="submit"
    [disabled]="derbyForm.invalid"
    (click)="!isEditing ? saveDerby() : editDerby()"
  ></button>
</ng-template>

<ng-template #buttonsTemplateTeam>
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-trash"
    class="p-button-danger"
    (click)="hideTeamDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-success p-mr-2"
    type="submit"
    [disabled]="teamForm.invalid"
    (click)="saveTeam()"
  ></button>
</ng-template>

<ng-template #derbyTemplate>
  <div class="row">
    <div class="col-12" *ngIf="derbyDialog">
      <app-derby-edit [data]="derby" [form]="derbyForm"></app-derby-edit>
    </div>
  </div>
</ng-template>

<ng-template #derbyCompadresTemplate>
  <div class="row">
    <div class="col-12" *ngIf="derbyDialogCompadres">
      <!-- <p-pickList
        [source]="teams"
        [target]="compadres"
        sourceHeader="Partidos"
        targetHeader="Grupos de compadres"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }"
        breakpoint="1400px"
      >
        <ng-template pTemplate="sourceItem" let-p>
          <div class="item partido">
            <span class="team">{{ p.teamName }}</span>
          </div>
        </ng-template>

        <ng-template pTemplate="targetItem" let-g>
          <div class="item grupo">
            <div class="fila">
              <span class="nombre">{{ g.grupo }}</span>
              <span class="badge">{{ g.compadres?.length || 0 }}</span>
            </div>
            <div class="chips" *ngIf="g.compadres?.length">
              <span class="chip" *ngFor="let c of g.compadres">{{
                c.teamName
              }}</span>
            </div>
          </div>
        </ng-template>
      </p-pickList> -->
      <div class="row">
        <!-- <div class="col-md-4 bg-secondary text-black p-3 rounded">
          <h3 class="text-center mb-3">Partidos</h3>
          <div
            *ngFor="let partido of teams"
            pDraggable="partidos"
            [dragData]="partido"
            (onDragStart)="dragStart(partido)"
            (onDragEnd)="dragEnd()"
            class="p-2 mb-2 bg-light rounded cursor-pointer"
          >
            {{ partido.teamName }}
          </div>
        </div> -->

        <div class="col-md-12 bg-secondary p-3 rounded">
          <div class="row">
            <div class="d-flex align-items-center gap-3">
              <h3 class="mb-0">Grupos</h3>

              <!-- Acciones a la derecha -->
              <div class="ms-auto d-flex align-items-center gap-2">
                <input
                  pInputText
                  type="text"
                  class="form-control"
                  placeholder="Buscar…"
                  [(ngModel)]="searchText"
                  style="width: 260px"
                />

                <p-button
                  icon="pi pi-plus"
                  [rounded]="true"
                  severity="info"
                  size="small"
                  (click)="agregarGrupo()"
                  pTooltip="Agregar grupo"
                  tooltipPosition="top"
                />
              </div>
            </div>
          </div>
          <div class="row g-3 pt-2">
            <div *ngFor="let grupo of compadres" class="col-md-12">
              <div class="card-compadres border-secondary">
                <div
                  class="card-header bg-transparent border-secondary d-flex align-items-center"
                >
                  <!-- Título -->
                  <strong class="me-2">{{ grupo.grupo }}</strong>

                  <!-- Multiselect a un costado -->
                  <p-multiSelect
                    class="me-2"
                    [options]="teams"
                    optionLabel="teamName"
                    display="chip"
                    [filter]="true"
                    [showClear]="true"
                    [panelStyle]="{ minWidth: '18rem' }"
                    placeholder="Seleccionar partidos"
                    [(ngModel)]="grupo.seleccionados"
                  >
                  </p-multiSelect>

                  <!-- Botón de aprobación -->
                  <button
                    pButton
                    type="button"
                    icon="pi pi-check"
                    class="p-button-rounded p-button-info me-auto"
                    [disabled]="!grupo.seleccionados?.length"
                    (click)="aprobarSeleccion(grupo)"
                  ></button>

                  <!-- Botón de cierre al extremo derecho -->
                  <button
                    class="close-btn-compadres ms-auto"
                    (click)="deleteGrupo(grupo)"
                  >
                    X
                  </button>
                </div>

                <div class="card-body">
                  <div *ngIf="grupo.compadres.length === 0">
                    Arrastra partidos aquí
                  </div>

                  <table class="table table-sm mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Nombre del partido</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let partido of grupo.compadres;
                          trackBy: trackByPartido
                        "
                      >
                        <td>{{ partido.teamName }}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #teamTemplate>
  <div class="row">
    <div class="col-12">
      <app-simple-catalog
        [data]="{}"
        [label]="'Partido'"
        [form]="teamForm"
      ></app-simple-catalog>
    </div>
  </div>
</ng-template>

<p-confirmDialog
  [style]="{ width: '450px' }"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
