<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">
                Generación de derby y captura de partidos
              </h5>
              <h2 class="card-title">Derby</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">
              <p-tabMenu [model]="itemsDerby"></p-tabMenu>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Derbys almacenados</label>
                <p-dropdown
                  styleClass="form-control"
                  [options]="derbys"
                  [(ngModel)]="selectedDerby"
                  optionLabel="name"
                  [appendTo]="'body'"
                  editable="false"
                  (onChange)="onChange($event, 'state')"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Entrada</label>
                <div class="form-group mt-2">
                  <span class="badge text-bg-info">{{
                    selectedDerby?.entrance
                  }}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Fecha del Evento</label>
                <div class="form-group mt-2">
                  <span class="badge text-bg-info">{{
                    selectedDerby?.dateEvent
                  }}</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-3 mt-3" *ngIf="selectedDerby">
              <p-splitButton
                label="Agregar partidos"
                icon="pi pi-plus"
                (onClick)="(false)"
                [model]="[{ label: 'Excepciones', icon: 'pi pi-save' }]"
                styleClass="p-button-secondary p-mb-2"
              ></p-splitButton>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="card">
            <p-scrollPanel [style]="{ width: '100%', height: '200px' }">
              <div *ngIf="selectedDerby" class="row">
                <form [formGroup]="derbyConf" id="formDerbyConf"></form>
              </div>
              <div class="row">
                <div class="col-12"></div>
              </div>
            </p-scrollPanel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dialog-form
  [openDialog]="derbyDialog"
  [size]="{ width: '50vw' }"
  [headerDetails]="title"
  (closeDialog)="openNew($event)"
  [model]="derbyModel"
>
</app-dialog-form>

<ng-template #buttonsTemplate>
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-trash"
    class="p-button-danger"
    (click)="hideDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-success p-mr-2"
    type="submit"
    [disabled]="derbyForm.invalid"
    (click)="!isEditing ? saveDerby() : editDerby()"
  ></button>
</ng-template>

<ng-template #derbyTemplate>
  <div class="row">
    <div class="col-12" *ngIf="derbyDialog">
      <app-derby-edit [data]="derby" [form]="derbyForm"></app-derby-edit>
    </div>
  </div>
</ng-template>

<p-confirmDialog
  [style]="{ width: '450px' }"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
