<!-- profile.component.html -->
<div class="container-fluid py-4">
  <div class="pt-2">
    <form [formGroup]="form" id="form">
      <div class="row g-3 g-md-4">
        <div class="col-12 col-md-6">
          <label class="form-label small mb-1">Nombre</label>
          <input
            pInputText
            formControlName="firstName"
            class="form-control"
            [disabled]="true"
          />
        </div>

        <div class="col-12 col-md-6">
          <label class="form-label small mb-1">Apellidos</label>
          <input
            pInputText
            formControlName="lastName"
            class="form-control"
            [disabled]="true"
          />
        </div>

        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col-4 col-md-4">
              <label class="form-label small mb-1">Email</label>
              <input
                pInputText
                formControlName="email"
                class="form-control"
                [disabled]="true"
              />
            </div>

            <div class="col-4 col-md-4">
              <label class="form-label small mb-1">Teléfono</label>
              <p-inputMask
                mask="999-999-99-99"
                styleClass="form-control"
                formControlName="phoneNumber"
                placeholder="999-999-99-99"
              />
            </div>

            <div class="col-4 col-md-4">
              <label class="form-label small mb-1">Fecha de nacimiento</label>
              <input type="date" formControlName="birth" class="form-control" />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label class="form-label small mb-1">País</label>
                <select
                  class="form-select"
                  aria-label="País"
                  formControlName="country"
                  (change)="onChange($event, 'country', 'state')"
                >
                  <option
                    *ngFor="let option of countrys"
                    [ngValue]="option._id"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label class="form-label small mb-1">Estado</label>
                <select
                  class="form-select"
                  aria-label="Estado"
                  formControlName="state"
                  (change)="onChange($event, 'state', 'municipality')"
                >
                  <option *ngFor="let option of states" [ngValue]="option._id">
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label class="form-label small mb-1">Municipio</label>
                <select
                  class="form-select"
                  aria-label="Municipio"
                  formControlName="municipality"
                  (change)="onChange($event, 'municipality')"
                >
                  <option
                    *ngFor="let option of municipalitys"
                    [ngValue]="option._id"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col-8 col-md-8">
              <label class="form-label small mb-1">Dirección</label>
              <input
                pInputText
                formControlName="addressStreet"
                class="form-control"
                [disabled]="true"
              />
            </div>

            <div class="col-4 md-4">
              <label class="form-label small mb-1">Tipo de usuario</label>
              <select
                class="form-select"
                aria-label="Tipo de usuario"
                formControlName="typeUser"
              >
                <option [ngValue]="'ADMIN'">Administrador</option>
                <option [ngValue]="'OPERADOR'">Operador</option>
                <option [ngValue]="'USUARIO'">Usuario</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
