<div class="full-page login-page">
  <div class="content">
    <div class="login_box">
      <div class="left">
        <div class="contact">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h3>Inicio de sesión</h3>
            <input formControlName="email" type="text" placeholder="Email" />
            <div
              *ngIf="
                loginForm.get('email').invalid &&
                (loginForm.get('email').dirty || loginForm.get('email').touched)
              "
            >
              Por favor proporcione un email.
            </div>
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
            />
            <div
              *ngIf="
                loginForm.get('password').invalid &&
                (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)
              "
            >
              Por favor proporcione una contraseña.
            </div>
            <button class="submit" type="submit" [disabled]="loginForm.invalid">
              Iniciar sesion
            </button>
            <div>
              <br /><a routerLink="/auth/register"
                >¿No tienes cuenta? Regístrate aquí</a
              >
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="right-inductor">
          <img
            src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
