<div class="wrapper">
  <div class="main-panel">
    <div class="full-page login-page">
      <div class="content">
        <div class="login_box">
          <div class="left">
            <div class="contact">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h3>SIGN IN</h3>
                <input
                  formControlName="email"
                  type="text"
                  placeholder="USERNAME"
                />
                <div
                  *ngIf="
                    loginForm.get('email').invalid &&
                    (loginForm.get('email').dirty ||
                      loginForm.get('email').touched)
                  "
                >
                  Please provide an email.
                </div>
                <input
                  formControlName="password"
                  type="text"
                  placeholder="PASSWORD"
                />
                <div
                  *ngIf="
                    loginForm.get('password').invalid &&
                    (loginForm.get('password').dirty ||
                      loginForm.get('password').touched)
                  "
                >
                  Please provide a password.
                </div>
                <button class="submit">LET'S GO</button>
              </form>
            </div>
          </div>
          <div class="right">
            <div class="right-text">
              <h2>DEVMINDS</h2>
              <h5>MAKING DISRUPTIVE CODE</h5>
            </div>
            <div class="right-inductor">
              <img
                src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="container">
          <!-- <div class="row">
            <div class="col-8">
              <form class="form">
                <div class="card card-login card-white">
                  <div class="card-header">
                    <img alt="" src="assets/img/card-primary.png" />
                    <h1 class="card-title">Log in</h1>
                  </div>
                  <div class="card-body">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Email"
                        type="text"
                      />
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Password"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="card-footer">
                    <a
                      class="btn btn-primary btn-lg btn-block mb-3"
                      href="#pablo"
                    >
                      Get Started
                    </a>
                    <div class="pull-left">
                      <h6>
                        <a class="link footer-link" href="javascript:void(0)">
                          Create Account
                        </a>
                      </h6>
                    </div>
                    <div class="pull-right">
                      <h6>
                        <a class="link footer-link" href="javascript:void(0)">
                          Need Help?
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-4">
              <img src="./assets/img/palenque_login.jpg" alt="" />
            </div>
          </div> -->
          <!-- palenque_login -->
        </div>
      </div>
    </div>
  </div>
</div>
