@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
.sidebar .nav li.active>a:not([data-toggle="collapse"])::before,
.off-canvas-sidebar .nav li.active>a:not([data-toggle="collapse"])::before {
  background-image: initial;
  background-color: rgb(20, 23, 24);
  display: none;
}

// .main-panel .content {
//   padding: 78px !important;
//   min-height: calc(100vh - 70px);
// }